@model CareDataModels.Models.Admin

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section leftMenu
{
<div>
    @Html.Partial("SuperAdminMenu")
</div>
    }

<div class="banner_section">
    <img src="~/Images/banner_img1.jpg" alt="" />
    <div class="page_direction">
        <a href="@Url.Action("HospitalsList", "Admin")" title="Hospitals" style="text-decoration:none"> Home ></a>
        Settings
    </div>
</div>


<div class="content_wrapper fancy_fields">
    <div class="row">
        <h2>Change Password</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("PartialValidationSummary")


            <div class="row two_col_form_container">


                <div class="colSettings">
                    @Html.LabelFor(model => model.Password, "Current Password")
                </div>
                <div class="colSettings">
                    @Html.PasswordFor(model => model.Password)
                    @*@Html.ValidationMessageFor(model => model.Password)*@
                </div>

                <div class="colSettings">
                    @Html.LabelFor(model => model.Password, "New Password")
                </div>
                <div class="colSettings">
                    @Html.Password("NewPassword")
                    @*@Html.ValidationMessageFor(model => model.Password)*@
                </div>
                <div class="colSettings">
                    @Html.LabelFor(model => model.Password, "Confirm Password")
                </div>
                <div class="colSettings">
                    @Html.Password("ConfirmPassword")
                    @*@Html.ValidationMessageFor(model => model.Password)*@
                </div>
                <div class="colSettings">
                   <input  type="submit" value="SUBMIT" />
                
                </div>

            </div>


        }


    </div>
</div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
